@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed&display=swap');

.mainStyling{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.homepage{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.logoStyling{
    text-decoration: none;
    font-size: 3em;
    color: white;
    font-family: 'Kaushan Script', cursive;
    padding: 10px 20px;
}
.navbarStyling{
    display: flex;
    padding: 0px 200px;
    height: 70;
    background-color: #1440eb;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1000000;
}
.searchContainer{
    display: flex;
    width: auto;
    height: 50%;
    background-color: #1E70E1;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}
.resultpage{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.filterBar{
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:5px;
    border: 1px gray solid;
}
.cardContainer{
    padding: 50px;
    width: auto;
    max-width: 75%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border: 1px solid rgba(131, 131, 131, 0.3);
    box-shadow: 1px 1px rgba(131, 131, 131, 0.3);
}
.detailsPage{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.detailsContainer{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    border: 1px gray solid;
}
.loginStyling{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    width: 600px;
    height: 700px;
    background-color: red;
}
.leftItems{
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 2rem;
}

.rightItems{
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 1%;
}


.carCard{
    width: 100%;
    height: 100%;
}
.carDetails{
    display: flex;
    flex-direction: row;
}

.carFeaturesName{
    font-weight: bold;
}

.carPicture{
    height: 80%;
    width: 100%;
}

.carFeatures {
    display: grid;
    grid-template-rows: auto auto; 
    gap: 6%; 
  }

.downFeatures{
    padding-top: 20%;
}

.listExtraContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    padding: 0;
  }
  
.listExtraContainer li {
    display: flex;
    width: 75%;
    list-style-type: none;
    padding: 4%;
    gap: 1%;
  }

.upExtra{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

.extrasPicture{
    width: 20%;
    height: 20%;
  }
  
.pickupReturn{
    display: flex;
    flex-direction: column;
}

.pickupInformation, 
.returnInformation{
    padding: 5%;
}

.pickupHeader{
    font-weight: bold;
    padding-right: 1%;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rentPayment {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  
  .rentPayment span {
    text-align: left; 
  }
  
  .rentPayment span:last-child {
    text-align: right; 
  }
  
.bookButton{
    display: flex;
    justify-content: center;
    align-items: center;
}